@model SampleMVC.ViewModels.CategoriesViewModel
@{
    int pageNumber = 0;
    if(ViewData["pageNumber"] != null)
    {
        pageNumber = Convert.ToInt32(ViewData["pageNumber"]);
    }
}

<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Category Page</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Category Page</h6>
            </div>
            <div class="card-body">
                @Html.Raw(ViewData["message"])

                <form asp-action="Index" method="get" class="form-inline">
                    <p>
                        <input type="text" id="search" class="form-control" name="search" value="@ViewData["search"]"
                               placeholder="search category name" />
                        &nbsp;
                        <input type="submit" class="btn btn-primary btn-sm" value="Search" />
                    </p>
                </form>

                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModalCreate">
                    Add Cetegory
                </button>
                <partial name="_CreateCategoryPartial" model="Model.CategoryCreateDTO" />
                <table class="table table-striped">
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>&nbsp;</th>
                        <th>&nbsp;</th>
                    </tr>
                    @foreach (var category in Model.Categories)
                    {
                        <tr>
                            <td>@category.CategoryID</td>
                            <td>@category.CategoryName</td>
                            <td><a asp-action="Edit" asp-route-id="@category.CategoryID" class="btn btn-warning btn-sm">edit</a></td>
                            <td>
                                <a asp-action="Delete" asp-route-id="@category.CategoryID" class="btn btn-danger btn-sm">delete</a>
                            </td>
                        </tr>
                    }
                </table>

                <a class="btn btn-outline-info btn-sm">First</a>&nbsp;
                <a href="/Categories/Index?act=prev&pageNumber=@pageNumber" class="btn btn-outline-info btn-sm">Prev</a>&nbsp;
                <a href="/Categories/Index?act=next&pageNumber=@pageNumber" class="btn btn-outline-info btn-sm">Next</a>&nbsp;
                <a class="btn btn-outline-info btn-sm">Last</a>

            </div>
        </div>
    </div>
</div>



