@model IEnumerable<MyWebFormApp.BLL.DTOs.UserDTO>

@{
    ViewData["Title"] = "List Of Users";
}

<div class="row">
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">List Of User</h1>
    </div>

    <div class="col-lg-12">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">List Of User</h6>
            </div>
            <div class="card-body">
                <form asp-action="AddUserToRole">
                    <div class="form-group">
                        <label for="Username">Username</label>
                        <select class="form-control"
                                asp-items="@ViewBag.Users">
                            <option value="0">--Select User--</option>
                        </select><br/>
                        <label for="Roles">Roles</label>
                        <select class="form-control"
                                asp-items="@ViewBag.Roles">
                            <option value="0">--Select Roles--</option>
                        </select>
                    </div>
                </form>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Username)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.LastName)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Telp)
                            </th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.LastName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Telp)
                                </td>
                                <td>
                                    @foreach (var role in item.Roles)
                                    {
                                        <span class="badge badge-primary">@role.RoleName</span><span> </span>
                                    }
                                </td>
                                <td>
                                    <a asp-action="Edit" asp-route-id="@item.Username" class="btn btn-warning btn-sm">edit</a>&nbsp;
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>

    </div>

</div>



